@charset "UTF-8";

/* 回答はここに書いてね */
.q3__wrap {
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.q3__cell {
  padding: 10px;
  border: solid #dedede 1px;
}

.q3__wrap .q3__tr:first-child,.q3__tr .q3__cell:first-child {
  font-size: 18px;
  line-height: 26px;
  color: white;
  background-color: #2244aa;
  }

.q3__tr:nth-child(odd) {
  background-color: #ecf1f2;
  }

.q3__wrap .q3__tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
